body {
    background-color: pink;
}

.projectName {
    margin-bottom: 5px;
}

/* .todoInput {
    position: relative;
    top: -10px;
    display: block;
} */

.submitProject {
    margin-top: 7px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2px;
}

h3 {
    /* background-color: blue; */
    display: inline-block;
    font-size: 1.5rem;
    
}

/* .newProjectContainer {
    height: 50px;
} */


[contenteditable]:focus {
  background-color: orange;
  outline: 0px solid orange;
}

.editContent {
    background-color: orange;
}

.createNewTodo {
    margin-left: 60px;
    position: relative;
    bottom: 2px;
    /* background-color: blue; */
}

.todoDiv {
   /* background-color: blue; */
   /* margin-top: 20px; */
   /* height: 70px; */
}

.todoInput {
    position: relative;
    bottom: 14px;
    background-color: orange;
    display: block;
}

.submitTaskButton {
    position: relative;
    bottom: 14px;
    
}


h4 {
    font-size: 1.5rem;
    margin-top: -10px;
}