/* * {
    font-size: 0.7rem;
} */

body {
    /* background-color: pink; */
    
}

.newProjectContainer {
    width: 400px;
    /* background-color: orange; */
}

.projectName {
    margin-bottom: 5px;
}

.todoInput {
    /* position: relative;
    top: -10px;
    display: block; */
    margin-bottom: -14px;
}

.submitProject {
    margin-top: 25px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2px;
}

h3 {
    /* background-color: blue; */
    display: inline-block;
    font-size: 1.5rem;
    
}

/* .newProjectContainer {
    height: 50px;
} */


[contenteditable]:focus {
  background-color: orange;
  outline: 0px solid orange;
}

.editContent {
    /* background-color: orange; */
}

.saved {
    background-color: rgb(170, 235, 170);
    color: rgb(5, 155, 214);
    font-size: 0.65rem;
    font-weight: bold;
    text-align: center;
    width: 45px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 59px;
    left: 60px;
}
.createNewTodo {
    margin-left: 60px;
    position: relative;
    bottom: 2px;
    /* background-color: blue; */
}

.todoDiv {
   /* background-color: blue; */
   /* margin-top: 20px; */
   /* height: 70px; */
}

.todoInput {
    position: relative;
    bottom: 14px;
    /* background-color: orange; */
    display: block;
}

.submitTaskButton {
    position: relative;
    bottom: 14px;
    
}


h4 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.task {
    margin-bottom: 2px;
    
}

.editTodoButton {
    margin-top: -22px;
}

.editTodoButton, .editProjectName {
    font-size: 0.6rem;
    display: block;
}

.editNote {
    font-size: 0.7rem;
}

.newProjectName {
     /* margin-bottom: -3px; */
}

.todoInput {
    margin-top: 27px;
}

.errorMessage, .selectProjectErrorMessage {
    color: red;
    font-size: 0.6rem;
    font-style: italic;
    margin-top: -10px;
    position: absolute;
}

.saveChanges {
    margin-top: 5px;
}

.selectProject {
    margin-top: -10px;
    margin-bottom: 17px;
    width: 160px;
}

.addTodo {
    cursor: pointer;
    width:fit-content;
    /* background-color: orange; */
}

.descriptionHeading, .notesHeading {
    margin-bottom: 10px;
}

.descriptionInput, .noteInput {
    display: block;
}

.description, .note {
    margin-top: 2px;
    margin-bottom: 0px;
    font-weight: normal;    
}

.descriptionDiv, .noteDiv {
    /* width: 350px; */
    /* background-color: orange; */
    word-break: break-all;
    /* word-wrap: break-word; */
}

.note {
    /* width: fit-content; */
    /* white-space: initial; */
}

.noteInput {
    margin-top: -10px;
}

.editDescription {
   font-size: 0.65rem;
}

.noteHeading {
    margin-top: 25px;
}

.dueDate {
    margin-bottom: 5px;
}

.changeDueDate {
    font-size: 0.7rem;
    margin-top: -20px;
}

.calender {
    margin-left: 10px;
}