body {
    background-color: pink;
}

.projectName {
    margin-bottom: 5px;
}

/* .todoInput {
    position: relative;
    top: -10px;
    display: block;
} */

.submitProject {
    margin-top: 9px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2px;
}

h3 {
    /* background-color: blue; */
    display: inline-block;
    font-size: 1.5rem;
    
}

/* .newProjectContainer {
    height: 50px;
} */


[contenteditable]:focus {
  background-color: orange;
  outline: 0px solid orange;
}

.editContent {
    background-color: orange;
}

.saved {
    background-color: rgb(170, 235, 170);
    color: rgb(5, 155, 214);
    font-size: 0.65rem;
    font-weight: bold;
    text-align: center;
    width: 45px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 59px;
    left: 60px;
}
.createNewTodo {
    margin-left: 60px;
    position: relative;
    bottom: 2px;
    /* background-color: blue; */
}

.todoDiv {
   /* background-color: blue; */
   /* margin-top: 20px; */
   /* height: 70px; */
}

.todoInput {
    position: relative;
    bottom: 14px;
    background-color: orange;
    display: block;
}

.submitTaskButton {
    position: relative;
    bottom: 14px;
    
}


h4 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.task {
    margin-bottom: 2px;
    
}

.editTodoButton {
    margin-top: -22px;
}

.editTodoButton, .editProjectName {
    font-size: 0.6rem;
    display: block;
}

.newProjectName {
     /* margin-bottom: -3px; */
}

.todoInput {
    margin-top: 27px;
}

.errorMessage {
    color: red;
    font-size: 0.6rem;
    font-style: italic;
    margin-top: -10px;
    position: absolute;
}

.saveChanges {
    margin-top: 5px;
}

.selectProject {
    margin-top: -10px;
    margin-bottom: 17px;
    width: 160px;
}

.addTodo {
    cursor: pointer;
}